@import "../../medias/medias.module.scss";
@import "../../mixin/mixin.module.scss";

.skillsContainer{
    width: 100%;
    .skillsTitle{
        @include text-config(5rem, 1rem);
        font-weight: 800;
    }
}
.imgContainer{
    gap: 5rem;
    @include display-config(row, 8rem 0);
    .img{
        font-size: 8rem;
        opacity: 0.8;
        transition: 0.3s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
}